html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: lightgrey;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-right: 20px;
    color: white;
    font-size: 1.3em;
    float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
    cursor: pointer;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.taglineDiv {
    text-align: center;
    background-color:  #55acee;
    position: relative;
    bottom: 30px;
}

.taglineDiv h1 {
    position: relative;
    bottom: 15px;
    font-size: 36px;
}

.taglineDiv h3{
    position: relative;
    bottom: 25px;
    font-style: italic;
}

#loginStart {
    text-align: center;
}

#accountStart {
    text-align: center;
}

#topRow label {
    font-weight: bold;
    display: block;
    position: relative;
    top: 10px;
}

#bottomRow label {
    font-weight: bold;
    display: block;
    position: relative;
    top: 10px;
}

.sockClass {
    border: 2px solid black;
    width: 350px;
    height: 250px;
}

.sockClass:hover {
    cursor: pointer;
}

#scarySock {
    display: inline-block;
    position: relative;
    right: 10px;
}

#crazySock {
    display: inline-block;
    position: relative;
}

#funnySock {
    display: inline-block;
    position: relative;
    left: 10px;
}

#coolSock {
    display: inline-block;
    position: relative;
    right: 10px;
    top: 20px;
}

#superSock {
    display: inline-block;
    position: relative;
    top: 20px;
}

#normalSock {
    display: inline-block;
    position: relative;
    left: 10px;
    top: 20px;
}

#accountInfo {
    border: 2px solid black;
    width: 40%;
    display: block;
    margin: 0 auto;
}

#accountInfo p {
    font-size: 18px;
    text-align: left;
    padding-left: 30%;
}

#accountInfo h4 {
    font-size: 18px;
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}

#accountInfo h4:hover {
    cursor: pointer;
    transition: background-color 0.4s ease;
    background-color: darkgrey;
}

#toggleDisplay {
    text-align: center;
    height: 40%;
    width: 20%;
    font-size: 20px;
    border: 1px solid black;
    position: relative;
    display: block;
    top: 120px;
}

#toggleDisplay input {
    position: relative;
    display: block;
    left: 60px;
    top: 22px;
}

#searchInfo {
    position: relative;
    text-align: center;
}

#searchBar {
    width: 300px;
    height: 30px;
}

.searchSubmit {
    width: 28px;
    height: 28px;
    position: relative;
    top: 10px;
    padding-left: 10px;
}

.searchSubmit:hover {
    cursor: pointer;
}

#displayContent {
    width: 50%;
    height: 80%;
    display: block;
    margin: 0 auto;
    position: relative;
    min-width: 1000px;
}

#displayContent img {
    width: 125px;
    height: 125px;
}

#displayContent img:hover {
    cursor: pointer;
}
.imgContentDiv {
    width: 125px;
    height: 145px;
    display: inline-block;
    padding-left: 27.5px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.imgContentDiv h5 {
    text-align: center;
    position: relative;
    bottom: 18px;
}

#topRowSocks {
    height: 145px;
}

#secondRowSocks {
    height: 145px;
}

#thirdRowSocks {
    height: 145px;
}

#fourthRowSocks {
    height: 145px;
}

#bottomRowSocks {
    height: 145px;
}

#hiddenContent {
    display: none;
}

#errorMessage {
    display:none;
    width: 300px;
    height: 650px;
    position: relative;
    z-index: 200;
    left: 44%;
    overflow: hidden;
}

#errorMessage h3 {
    width: 400px;
}

#errMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

.passForm {
    margin: 10px;
}

.passForm label {
    font-size: 15px;
    margin: 10px;
}

#notFoundPage {
    margin: auto;
    padding: 150px;
    text-align: center;
    font-size: 50px;
}

#notFoundLink {
    text-align: center;
    display: block;
    font-size: 20px;
    position: relative;
    bottom: 100px;
}

#buyInfo {
    text-align: center;
    margin: 0 auto;
}

#buyInfo img {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    position: relative;
    right: 200px;
}

#buyInfo h3 {
    position: relative;
    left: 100px;
    bottom: 250px;
}

#buyInfo h2 {
    font-size: 24px;
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    position: relative;
    bottom: 250px;
    left: 102px;
}

#buyInfo h2:hover {
    cursor: pointer;
    transition: background-color 0.4s ease;
    background-color: darkgrey;
}

#similarSocks {
    position: relative;
    bottom: 100px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    min-width: 1300px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#similarSocks h3 {
    position: relative;
    bottom: 70px;
}
#similarSocks img {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    position: relative;
    top: 15px;
}

#sock1 {
    display: inline-block;
    position: relative;
    right: 250px;
}

#sock2 {
    display: inline-block;
}

#sock3 {
    display: inline-block;
    position: relative;
    left: 250px;
}

#sock1:hover {
    cursor: pointer;
}

#sock2 {
    cursor: pointer;
}

#sock3 {
    cursor: pointer;
}